@import "tailwindcss";

.heart-pulse {
  width: 120px;
  height: 120px;
  background: red;
  position: relative;
  transform: rotate(-45deg);
  animation: pulse 0.7s ease-out forwards;
}

.heart-pulse::before,
.heart-pulse::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background: red;
  border-radius: 50%;
}

.heart-pulse::before {
  top: -60px;
  left: 0;
}

.heart-pulse::after {
  left: 60px;
  top: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0.5) rotate(-45deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: scale(1.6) rotate(-45deg);
    opacity: 0;
  }
}